.removeTodoButton {
    background-color: white; 
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

  .removeTodoButton:hover {
    background-color: black;
    color: white;
  }

.todoItem{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    position: static;
    max-width: 300px;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;

}
.todoiItemParagraph{
    text-transform: capitalize;
}