.button {
    border: none;
    color: color(black);
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button:active {
    background-color: rgb(221, 31, 31);
    color: white;
}