.button {
    background: rgba(171, 173, 170, 0.6);
    border: none;
    border-radius: 25%;
    color: color(black);
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 3px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.button:active {
    background-color: rgb(79, 148, 79);
    color: white;
}

.return{
    cursor: pointer;
}