.button {
    background: rgba(172, 172, 172, 0.6);
    border: none;
    color: color(black);
    padding: 12px 28px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    margin: 4px 3px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.button:active {
    background: rgba(130, 130, 130, 0.7);
    color: black;
}

.return{
    cursor: pointer;
}