.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 0, 20) ;
    @media( max-width: 395px) {
        width: 100%;
    }
}

.appContainer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    @media( max-width: 395px) {
        width: 100%;
        flex-wrap: wrap;
    }
}

.profileContainer{
    display: flex;
    flex-direction: column;
    @media( max-width: 395px) {
        width: 100%;
        flex-wrap: wrap;
    }
}

.diceContainer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    @media( max-width: 395px) {
        width: 100%;
        flex-wrap: wrap;
    }
}

.headersContainer{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    text-transform:uppercase;
}

.statsContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.todoItem{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    position: static;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
}