h1 {
  font-family: Georgia, Times, 'Times New Roman', sans-serif;
  color: color(black);
}

h2 {
  text-align: center;
}

h3 {
  text-transform: capitalize;
  text-align: center;
}

h4 {
  text-align: center;
  color:blue;
}