.button {
  background: rgba(172, 172, 172, 0.6);
  border: none;
  border-radius: 25%;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 3px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.button:active {
  background: rgba(180, 180, 180, 0.6);
  color: black;
  font-weight: bold;
}

.return {
  cursor: pointer;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 395px) {
  .container {
    width: 100%;
  }
}

.appContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 395px) {
  .appContainer {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 395px) {
  .profileContainer {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.diceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 395px) {
  .diceContainer {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.headersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: uppercase;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.todoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: static;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

h1 {
  font-family: Georgia, Times, 'Times New Roman', sans-serif;
  color: black;
}

h2 {
  text-align: center;
}

h3 {
  text-transform: capitalize;
  text-align: center;
}

ul {
  text-decoration: none;
  background: rgba(170, 170, 170, 0.6);
}

.input {
  border: none;
  border-bottom: 2px solid #858181;
  border-radius: 10px;
  background-color: transparent;
  width: 75%;
}

.img {
  width: 100px;
  height: 100px;
}

@media (max-width: 395px) {
  .img {
    width: 85px;
    height: 85px;
  }
}

.return {
  width: 50px;
  height: 50px;
}

@media (max-width: 395px) {
  .return {
    width: 35px;
    height: 35px;
  }
}

body, html {
  height: 100%;
}

body {
  background: url("https://images.unsplash.com/photo-1536048810607-3dc7f86981cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  text-transform: capitalize;
}
/*# sourceMappingURL=main.css.map */