.app{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

li {
    background-color: white; 
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}

li:hover {
    background-color: black;
    color: white;
  }